
/*! CSS Used from: https://js.skyscnr.com/sttc/blackbird/static/css/10.3200aeec.chunk.css */
svg:not(:root) {
  overflow: hidden;
}
button,
input {
  font: inherit;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
*,
:after,
:before {
  box-sizing: inherit;
}
/*! CSS Used from: https://js.skyscnr.com/sttc/oc-registry/components/flights-search-controls/5.2.2/build//static/css/main.170f3c02.css */
.BpkButtonBase_bpk-button__3QGRV {
  display: inline-block;
  margin: 0;
  padding: 0.375rem 1.125rem;
  border: 0;
  border-radius: 0.375rem;
  background-image: linear-gradient(-180deg, #00a698, #00a698);
  background-image: linear-gradient(
    -180deg,
    var(--bpk-button-primary-gradient-start-color, #00a698),
    var(--bpk-button-primary-gradient-end-color, #00a698)
  );
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  color: var(--bpk-button-primary-text-color, #fff);
  background-color: #00a698;
  background-color: var(--bpk-button-primary-background-color, #00a698);
  font-size: 1.1875rem;
  font-size: var(--bpk-button-font-size, 1.1875rem);
}
.BpkButtonBase_bpk-button__3QGRV:active {
  background-image: none;
  box-shadow: none;
  color: #fff;
  color: var(--bpk-button-primary-active-text-color, #fff);
  background-color: #006a61;
  background-color: var(--bpk-button-primary-active-background-color, #006a61);
}
.BpkButtonBase_bpk-button__3QGRV:disabled {
  background-color: #dddde5;
  background-image: none;
  color: #b2b2bf;
  box-shadow: none;
  cursor: not-allowed;
}
.BpkButtonBase_bpk-button--large__2KqI4 {
  padding: 0.375rem 1.5rem;
  border-radius: 0.375rem;
  font-size: 1.5rem;
  line-height: 1.875rem;
}
.BpkButtonBase_bpk-button__3QGRV svg {
  fill: currentColor;
}
.radio-label {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
}
.form-check-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: text-bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 3px solid #8f90a0;
  border-radius: 1.125rem;
}
@media screen\0 {
  .form-check-input {
    background: none !important;
  }
}
.form-check-input:checked {
  border-color: #0770e3;
  border-color: var(--bpk-radio-checked-color, #0770e3);
}
.form-check-input:checked:disabled,
.form-check-input:disabled {
  border-color: #b2b2bf;
}
.form-check-input:checked + .form-check-circle {
  display: block;
}
.form-check-input:checked:disabled
  + .form-check-circle {
  display: block;
  background: #b2b2bf;
}
.form-check-circle {
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  display: none;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #0770e3;
  background: var(--bpk-radio-checked-color, #0770e3);
}
/* .trip-type-selector {
  margin-right: 1.125rem;
  margin-bottom: 0.75rem;
  color: #fff;
  font-size: 0.875rem;
  cursor: pointer;
}
@media (min-width: 50.3125rem) {
  .TripTypeSelector{
    font-size: 1rem;
  }
} */
.BpkCheckbox_bpk-checkbox__jsSTp {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  margin: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}
.BpkCheckbox_bpk-checkbox__label__2g9p7 {
  vertical-align: baseline;
}
.BpkCheckbox_bpk-checkbox__label--small__3jPkM {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}
.BpkCheckbox_bpk-checkbox--white__IWVUW {
  color: #fff;
}
.BpkCheckbox_bpk-checkbox__input__20M-P {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  padding: 0;
  border: 0.1875rem solid #8f90a0;
  border-radius: 0.25rem;
  cursor: pointer;
  vertical-align: text-bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media screen\0 {
  .BpkCheckbox_bpk-checkbox__input__20M-P {
    background: none !important;
  }
}
.BpkCheckbox_bpk-checkbox__input__20M-P:checked {
  background-color: #0770e3;
  background-color: var(--bpk-checkbox-checked-color, #0770e3);
  border-color: #0770e3;
  border-color: var(--bpk-checkbox-checked-color, #0770e3);
}
.BpkCheckbox_bpk-checkbox__input__20M-P:checked:disabled {
  border-color: #b2b2bf;
  background: none;
}
.BpkCheckbox_bpk-checkbox__input__20M-P:checked:not(:indeterminate):after,
.BpkCheckbox_bpk-checkbox__input__20M-P:checked:not(:indeterminate):before {
  position: absolute;
  content: '';
  transform: rotate(45deg);
  border-radius: 2px;
  background-color: #fff;
}
.BpkCheckbox_bpk-checkbox__input__20M-P:checked:not(:indeterminate):before {
  top: 0.4375rem;
  left: 0;
  width: 0.5rem;
  height: 0.1875rem;
}
.BpkCheckbox_bpk-checkbox__input__20M-P:checked:not(:indeterminate):after {
  top: 0.125rem;
  left: 0.4375rem;
  width: 0.1875rem;
  height: 0.6875rem;
}
.BpkCheckbox_bpk-checkbox__input__20M-P:checked:not(:indeterminate):disabled:after,
.BpkCheckbox_bpk-checkbox__input__20M-P:checked:not(:indeterminate):disabled:before {
  background-color: #b2b2bf;
}
.BpkCheckbox_bpk-checkbox__input__20M-P:disabled {
  border-color: #b2b2bf;
}
.BpkCheckbox_bpk-checkbox__input-white__3HCPg {
  background-color: #fff;
}
.BpkLabel_bpk-label__1_p7g {
  display: block;
  color: #111236;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
}
.App_App__a4ZDK .App_form-label__2974i {
  color: #fff;
}
.App_App__a4ZDK .App_flights-sc-wrapper__1JV6f {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0.75rem;
  text-align: left;
}
@media (min-width: 32.3125rem) {
  .App_App__a4ZDK .App_flights-sc-wrapper__1JV6f {
    max-width: 1048px;
    padding: 0;
  }
}
.App_App__a4ZDK .App_submit-button__3h6Y5 {
  display: inline-block;
  width: 100%;
}
@media (min-width: 32.3125rem) {
  .App_App__a4ZDK .App_submit-button__3h6Y5 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
  }
}
@media (min-width: 50.3125rem) {
  .App_App__a4ZDK .App_submit-button-oneline__1v1tr {
    bottom: 0.75rem;
  }
}
.App_flights-sc-checkbox__1c30s {
  margin-top: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
}
@media (min-width: 50.3125rem) {
  .App_flights-sc-checkbox-oneline__1lwgF {
    margin-bottom: 0;
  }
}
@media (max-width: 50.25rem) {
  .App_flights-sc-directonly__1rqd4 {
    height: 1.875rem;
  }
}
.App_flextickets-sc-checkbox__24t0- {
  margin: 0.75rem;
  cursor: pointer;
}
@media (max-width: 50.25rem) {
  .App_flextickets-sc-checkbox-oneline__ELxAB {
    display: block;
    height: 1.875rem;
    margin: 0;
  }
}
@media (max-width: 50.25rem) {
  .App_flights-sc-flexibleticket__2cMgV {
    height: 1.875rem;
  }
}
.App_fsc-select__1xzSs {
  display: inline-block;
  width: 100%;
  height: 2.25rem;
  padding: 0.375rem 1.875rem 0.375rem 0.75rem;
  border: 0.0625rem solid #b2b2bf;
  border-radius: 0.25rem;
  background: #fff
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4Ij48c3R5bGU+PC9zdHlsZT48cGF0aCBkPSJNMTYuNTM3IDguMjVINy40NjNhMS4zNTggMS4zNTggMCAwMC0xLjExIDIuMjUxbDQuMzU0IDQuNzdhMS41MyAxLjUzIDAgMDAyLjE4NC4wNGw0LjcxOC00Ljc3YTEuMzU3IDEuMzU3IDAgMDAtMS4wNzItMi4yOTF6IiBmaWxsPSIjNDQ0NTYwIi8+PC9zdmc+')
    no-repeat right 0.75rem center;
  background-size: 1.125rem 1.125rem;
  color: #111236;
  line-height: 1.125rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media screen\0 {
  .App_fsc-select__1xzSs {
    padding: 0.375rem 0.75rem !important;
    background-image: none !important;
  }
}
.App_fsc-select__1xzSs:disabled {
  border-color: #f1f2f8;
  background: #fff
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4Ij48c3R5bGU+PC9zdHlsZT48cGF0aCBkPSJNMTYuNTM3IDguMjVINy40NjNhMS4zNTggMS4zNTggMCAwMC0xLjExIDIuMjUxbDQuMzU0IDQuNzdhMS41MyAxLjUzIDAgMDAyLjE4NC4wNGw0LjcxOC00Ljc3YTEuMzU3IDEuMzU3IDAgMDAtMS4wNzItMi4yOTF6IiBmaWxsPSIjYjJiMmJmIi8+PC9zdmc+')
    no-repeat right 0.75rem center;
  color: #b2b2bf;
  cursor: not-allowed;
}
@media (min-width: 50.3125rem) {
  .App_fsc-select-large-above-tablet__3WMFk {
    height: 3rem;
  }
}
@media (min-width: 50.3125rem) {
  .App_fsc-select-docked-last-above-tablet__C1MOZ {
    border-radius: 0 0.25rem 0.25rem 0;
  }
}
.DateInput_DateInput__3q2lq {
  width: 100%;
  height: 2.25rem;
  padding: 0.375rem 0.75rem;
  border: 0.0625rem solid #b2b2bf;
  border-radius: 0.25rem;
  background: #fff;
  color: #111236;
  text-align: left;
  cursor: pointer;
}
.DateInput_DateInput--text__-b97u {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 50.3125rem) {
  .DateInput_DateInput--docked__2He7u {
    border-right-width: 0;
    border-radius: 0;
  }
}
@media (min-width: 50.3125rem) {
  .DateInput_DateInput--large__2vgsx {
    height: 3rem;
  }
}
.DateRangeSelector_DateRangeSelector__UQGrK
  .DateRangeSelector_form-item__2DNOc {
  display: inline-block;
  width: 49%;
}
.DateRangeSelector_DateRangeSelector__UQGrK
  .DateRangeSelector_form-item__2DNOc:first-of-type {
  margin-right: 2%;
}
@media (min-width: 50.3125rem) {
  .DateRangeSelector_DateRangeSelector__UQGrK
    .DateRangeSelector_form-item-oneline__1MpGC {
    width: 50%;
  }
}
@media (min-width: 50.3125rem) {
  .DateRangeSelector_DateRangeSelector__UQGrK
    .DateRangeSelector_form-item-oneline__1MpGC:first-of-type {
    margin-right: 0;
  }
}
.SwitchButton_SwitchButton__button__2pize {
  width: 100%;
  height: 2.25rem;
  padding: 0;
  border: 0.0625rem solid #b2b2bf;
  border-right: 0;
  border-radius: 0;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}
@media (min-width: 50.3125rem) {
  .SwitchButton_SwitchButton__button__2pize {
    height: 3rem;
    border-left: 0;
  }
}
.SwitchButton_SwitchButton__3ygjF svg {
  vertical-align: middle;
  fill: #0770e3;
}
.SwitchButton_SwitchButton__3ygjF:hover svg {
  fill: #444560;
}
@media screen\0 {
  #CabinClassTravellersSelector_fsc-class-travellers-trigger__LeM38 {
    padding: 0.375rem 1.875rem 0.375rem 0.75rem !important;
    background: #fff
      url(https://js.skyscnr.com/sttc/oc-registry/components/flights-search-controls/5.2.2/build//static/css/main.170f3c02.css)
      no-repeat right 0.75rem center !important;
  }
}
.CabinClassTravellersSelector_CabinClassTravellers__2NkMR
  .CabinClassTravellersSelector_form-item__C_EZX {
  display: inline-block;
  width: 100%;
}
.CabinClassTravellersSelector_CabinClassTravellersSelector__class-travellers-trigger__3039K {
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
  cursor: pointer;
}
.CabinClassTravellersSelector_CabinClassTravellersSelector__triggertext__3e3km {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.BpkInput_bpk-input__1XlcO {
  display: inline-block;
  width: 100%;
  height: 2.25rem;
  padding: 0.375rem 0.75rem;
  border: 0.0625rem solid #b2b2bf;
  border-radius: 0.25rem;
  background: #fff;
  color: #111236;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.BpkInput_bpk-input__1XlcO:-ms-input-placeholder {
  color: #68697f;
}
.BpkInput_bpk-input__1XlcO::placeholder {
  color: #68697f;
}
.BpkInput_bpk-input__1XlcO:disabled {
  border-color: #f1f2f8;
  background: #fff;
  color: #b2b2bf;
  cursor: not-allowed;
}
.BpkInput_bpk-input__1XlcO::-ms-clear {
  display: none;
}
.BpkAutosuggest_bpk-autosuggest__suggestions-container__17YdR {
  display: none;
}
@media (min-width: 50.3125rem) {
  .LocationSelector_LocationSelector__2eCJd
    .LocationSelector_fsc-location-input__11TIz {
    text-overflow: ellipsis;
  }
}
.SingleDestControls_SingleDestControls__1W27b
  .SingleDestControls_places-wrapper__3UFoV {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  vertical-align: top;
}
@media (min-width: 50.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_places-wrapper-oneline__3pls8 {
    width: 50%;
  }
}
.SingleDestControls_SingleDestControls__1W27b
  .SingleDestControls_form-label__2DmBG {
  color: #fff;
}
.SingleDestControls_SingleDestControls__1W27b
  .SingleDestControls_origin-wrapper__193HB {
  display: inline-block;
  width: 100%;
}
@media (min-width: 32.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_origin-wrapper__193HB {
    width: 48%;
  }
}
@media (min-width: 50.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_origin-wrapper-oneline__3xoBQ {
    width: 46%;
  }
}
.SingleDestControls_SingleDestControls__1W27b
  .SingleDestControls_switch-wrapper__2ag_v {
  display: none;
  vertical-align: top;
}
@media (min-width: 32.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_switch-wrapper__2ag_v {
    display: inline-block;
    width: 4%;
  }
}
@media (min-width: 50.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_switch-wrapper-oneline__Fgaf3 {
    width: 8%;
  }
}
.SingleDestControls_SingleDestControls__1W27b
  .SingleDestControls_destination-wrapper__2PMSZ {
  float: right;
  display: inline-block;
  width: 100%;
}
@media (min-width: 32.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_destination-wrapper__2PMSZ {
    width: 48%;
  }
}
@media (min-width: 50.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_destination-wrapper-oneline__2OYpk {
    width: 46%;
  }
}
.SingleDestControls_SingleDestControls__1W27b
  .SingleDestControls_dates-wrapper__1y18A {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.75rem;
  vertical-align: top;
}
@media (min-width: 32.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_dates-wrapper__1y18A {
    display: inline-block;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 0;
  }
}
@media (min-width: 50.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_dates-wrapper-oneline__1P5zJ {
    width: 25%;
    margin-right: 0;
  }
}
.SingleDestControls_SingleDestControls__1W27b
  .SingleDestControls_cabin-class-travellers-wrapper__3kZLi {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
@media (min-width: 32.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_cabin-class-travellers-wrapper__3kZLi {
    width: 48%;
  }
}
@media (min-width: 50.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_cabin-class-travellers-wrapper-oneline__M0ct4 {
    width: 25%;
    margin-right: 0;
  }
}
@media (min-width: 50.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_fsc-large-above-tablet__1JNPT {
    height: 3rem;
  }
}
@media (min-width: 32.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_fsc-docked-first-above-mobile__3fH_a {
    border-right-width: 0;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_fsc-docked-first-above-mobile__3fH_a:focus {
    position: relative;
  }
}
@media (min-width: 50.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_fsc-docked-middle-above-tablet__39xZP {
    border-right-width: 0;
    border-radius: 0;
  }
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_fsc-docked-middle-above-tablet__39xZP:focus {
    position: relative;
  }
}
@media (min-width: 32.3125rem) and (max-width: 50.25rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_fsc-docked-last-on-tablet__3l4rM {
    border-radius: 0 0.25rem 0.25rem 0;
  }
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_fsc-docked-last-on-tablet__3l4rM:focus {
    position: relative;
  }
}
.SingleDestControls_SingleDestControls__1W27b
  .SingleDestControls_with-hotels-wrapper__rKm80 {
  display: inline-block;
  width: 50%;
  padding-left: 1%;
}
@media (min-width: 32.3125rem) {
  .SingleDestControls_SingleDestControls__1W27b
    .SingleDestControls_with-hotels-wrapper__rKm80 {
    display: block;
    width: auto;
    padding-left: 0;
  }
}
