@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Righteous';
  background: #7b83cc;
  background-image: url('../src/images/world-overlay.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* navbar has own file now */

nav {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

/* .background-box{
  height: 400px;
  overflow: hidden;
} */

.background {
  position: absolute;
  z-index: -4;
  top: 0;
  width: 100%;
  max-height: 450px;
  background-position: center center;
  /* clip: rect(0px, 2250px, 450px, 0px); */
}

.tagline-holder {
  margin: 20px auto;
}

.home-tagline {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px #f9c502;
}

.outer-box input:not(.form-check-input) {
  background-color: rgb(255, 255, 255);
  height: 2.4rem;
  padding: 0.375rem 0.75rem;
  border: 0.0625rem solid #b2b2bf;
  border-radius: 0.25rem;
  background: #fff;
  font-family: 'Righteous';
}

.outer-box {
  background-color: rgba(190, 190, 190, 0.816);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1000px;
  border-radius: 10px;
  margin: 20px auto 0;
  padding: 0 0 0 25px;
}

/* radio buttons */

.radio-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 60px 5px;
}

.radio {
  padding: 0 10px 5px;
}

.radio-label {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
}
.form-check-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: text-bottom;
  appearance: none;
  border: 3px solid #8f90a0;
  border-radius: 1.125rem;
}

.form-check-input:checked {
  border-color: #00c0db;
}
.form-check-input:checked:disabled,
.form-check-input:disabled {
  border-color: #b2b2bf;
}
.form-check-input:checked + .form-check-circle {
  display: block;
}
.form-check-input:checked:disabled + .form-check-circle {
  display: block;
  background: #b2b2bf;
}
.form-check-circle {
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  display: none;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #00c0db;
}

/* form fields */

.input-fields {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flight-direction {
  position: relative;
  border-radius: 10px;
}

.flight-direction > .drop-down {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgb(255, 255, 255);
}

.airport-list {
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  line-height: 2rem;
  width: 230px;
}

.button-holder {
  display: flex;
  flex-wrap: wrap;
}

.results-button {
  width: 400px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  background-color: #00c0db;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.results-button:hover {
  background-color: #60a101;
  color: rgb(255, 255, 255);
}

label {
  font-size: 16px;
  font-weight: bold;
}

/* flight results */

.display-results {
  margin: 20px auto;
  max-width: 1026px;
}

.results-box {
  background: linear-gradient(rgba(8, 8, 8, 0.88), rgba(8, 8, 8, 0.914));
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flight-direct,
.airplane-icon {
  display: flex;
  align-items: center;
  color: #f9c502;
}

.flight-carriers,
.inbound-trip,
.outbound-trip {
  color: #f9c502;
  text-shadow: 2px 2px #000000;
}

.outbound-trip p {
  font-size: 14px;
}

.depart-time,
.land-time {
  padding: 10px 0;
}

.inbound-trip {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.airplane-icon {
  color: #f9c502;
  text-shadow: 2px 2px #000000;
  font-size: 25px;
}

.flight-price {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #f9c502;
  color: #f9c502;
}

.land-date,
.depart-date {
  font-size: 24px;
}

.flight-button {
  width: 120px;
  height: 45px;
  margin: 10px;
  border-radius: 10px;
  background-color: #00c0db;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.flight-button:hover {
  background-color: #60a101;
  color: rgb(255, 255, 255);
}

.flight-directions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* carousel */

.image-slider {
  margin: 0 auto;
}
.carousel {
  background: linear-gradient(rgba(8, 8, 8, 0.88), rgba(8, 8, 8, 0.914));
}

.carousels-container {
  margin: 120px 0 0 0;
}

.carousel-titles {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #f9c502;
  padding: 5px;
}

.carousel-img {
  margin: 10px 0 -5px;
  width: 600px;
  height: 300px;
}

/* covid information */

.covid-boxes {
  background-color: rgba(190, 190, 190, 0.816);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 100px auto 0;
  width: 85%;
}

.covid-box {
  width: 80%;
  margin: 10px auto;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 7px;
}

.covid-title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.covid-text {
  font-size: 16px;
  padding: 15px 5px;
  text-align: center;
}

.covid-buttons {
  border-radius: 10px;
  background-color: #00c0db;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  width: 200px;
  margin: 0 auto;
}

.covid-buttons a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.covid-buttons:hover {
  background-color: #60a101;
  color: white;
}

.covid-map-box {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  background-color: rgba(190, 190, 190, 0.816);
  border-radius: 70px;
}

.covid-map-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.covid-map-info h2 {
  font-size: 40px;
  padding: 20px;
  margin: 10px;
}
.covid-map-info p {
  font-size: 25px;
  padding: 20px;
}

.map-button {
  width: 400px;
  height: 50px;
  margin: 20px;
  border-radius: 10px;
  background-color: #00c0db;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.map-button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.map-button:hover {
  background-color: #60a101;
  color: rgb(255, 255, 255);
}

.covid-map {
  width: 60%;
  height: auto;
}

/* footer */

footer {
  background: linear-gradient(rgba(8, 8, 8, 0.88), rgba(8, 8, 8, 0.914));
  width: 100%;
  height: 40px;
  color: #f9c502;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
}

@media screen and (max-width: 1040px) {
  .covid-boxes {
    display: flex;
    flex-direction: column;
    margin: 20px auto -20px;
    width: 80%;
  }

  .covid-box:after {
    content: '';
    width: 100%;
    height: 3px;
    position: relative;
    background: black;
    margin: 8px 0;
  }
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 68px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: linear-gradient(rgba(8, 8, 8, 0.88), rgba(8, 8, 8, 0.914));
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }

  .results-button {
    width: 300px;
  }

  .login-form-button {
    margin: 5px auto;
  }

  .image-slider {
    margin: 0 auto;
  }
}

/* contact page */

.contact-container {
  margin: 25px auto;
  max-width: 700px;
  padding: 10px 15px;
  background-color: rgba(190, 190, 190, 0.816);
  border-radius: 15px;
}

.title-holder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 15px;
}

.title-holder:after {
  transform: translateX(-50%);
  content: '';
  background: #00c0db;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 400px;
}

.title-holder h2 {
  font-size: 28px;
  margin: 0;
}

.ant-input {
  width: 95%;
  margin: 5px auto;
  background-color: rgb(255, 255, 255);
  height: 2.4rem;
  padding: 0.375rem 0.75rem;
  border: 0.0625rem solid #b2b2bf;
  border-radius: 0.25rem;
  background: #fff;
  font-family: 'Righteous';
}

.contactBlock textarea {
  min-height: 120px;
  height: 120px;
}

.contact-button-holder {
  display: flex;
}

.login-form-button {
  width: 80%;
  height: 50px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #00c0db;
  font-size: 26px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.login-form-button:hover {
  background-color: #60a101;
  color: white;
}

/* hottest destinations and flight deals page */

.hottest-destinations-container,
.flight-deals-container {
  margin: 120px auto 0;
}

.hottest-destinations-title,
.flight-deals-title {
  text-align: center;
  font-size: 40px;
  padding: 15px 0;
  text-shadow: 2px 2px #f9c502;
}

/* not found page */

.not-found {
  background-color: rgba(160, 142, 142, 0.781);
  margin: 100px auto;
  width: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.not-found h2 {
  color: #f9c502;
  margin: 10px auto;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px #000000;
}
.not-found p {
  color: #f9c502;
  margin: 10px auto;
  text-align: center;
  font-size: 32px;
  text-shadow: 2px 2px #000000;
}

.not-found a {
  font-size: 28px;
  text-decoration: none;
  color: rgba(8, 8, 8, 0.914);
  text-align: center;
  text-shadow: 2px 2px #f9c502;
}

.not-found img {
  width: 88%;
  height: auto;
  margin: 0 auto;
}

.not-found-link {
  margin: 0 auto;
  text-align: center;
}
