.navbar {
  color: #f9c502;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

/* .nav-holder {
  display: flex;
  justify-content: flex-end;
} */

.nav-items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  padding-right: 40px;
}

.navbar ul li {
  display: inline-block;
  margin: 0 5px;
}

.navbar ul li a:hover {
  background-color: black;
  border-radius: 10px;
}

.navbar ul li a {
  color: #f9c502;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
  box-shadow: 0 10px 12px rgb(22 33 39 / 25%);
  border-radius: 10px;
  text-shadow: 2px 2px #000000;
}

.navbar ul ul {
  position: absolute;
  background: linear-gradient(rgba(8, 8, 8, 0.88), rgba(8, 8, 8, 0.914));
  z-index: 200;
  width: 100%;
  right: 100px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 10px 12px rgb(22 33 39 / 25%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

/* .nav-dropdown::before{

} */

.navbar ul ul li {
  position: relative;
  margin: 0px;
  text-decoration: none;
  padding: 10px;
}

.navbar ul ul li:hover {
  background-color: #f9c502;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

.navbar ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.navbar .logo {
  color: white;
  font-size: 40px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
  text-shadow: 2px 2px #000000;
}

.logo a {
  text-decoration: none;
  color: #f9c502;
}

.icon {
  display: none;
}

@media all and (max-width: 880px) {
  .navbar {
    background: linear-gradient(rgba(8, 8, 8, 0.88), rgba(8, 8, 8, 0.914));
  }

  .navbar ul {
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
  }
  .navbar .logo {
    padding-left: 30px;
    width: 100%;
  }

  .navbar ul li,
  .navbar ul ul li {
    display: block;
    width: 100%;
  }

  /* VERY QUICK FIX, NEED HELP!!!! */
  .navbar ul li:hover > ul {
    opacity: 0;
    visibility: none;
    z-index: -1000;
  }
  .icon {
    display: block;
    position: absolute;
    right: 40px;
    top: 0;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
  }
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  z-index: 1333333;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #f9c502;
  border-radius: 10px;
  z-index: 1333333;
}

.chevron {
  position: relative;
  color: #f9c502;
  top: 5px;
  left: 5px;
  stroke-width: 4;
}

@media (max-width: 550px) {
  .background {
    display: none;
  }
}

@media (max-width: 880px) {
  .toggle-button {
    display: flex;
  }

  .nav-items {
    display: block;
    width: 100%;
  }
  
  .nav-items:first-child{
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }

  .nav-items ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-items li {
    text-align: center;
  }

  .nav-items li a {
    padding: 0.5rem 1rem;
  }

  .nav-items.active {
    display: none;
  }
}
